<section class="products__container">
  <div class="products__header bg-white dark:bg-gray-800 shadow sm:rounded-lg flex flex-col justify-center justify-between space-x-2 md:flex-row justify-between lg:flex-row justify-between space-y-0">
    <div class="flex items-center justify-start px-4 py-3 sm:px-2 lg:px-8">
      <nav class="flex" aria-label="Breadcrumb">
        <ol
          class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
        >
          <li class="inline-flex items-center">
            <a
              routerLink="/"
              class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-root-metalic-bronze dark:text-gray-400 dark:hover:text-white"
            >
              <i class="fa-solid fa-house"></i>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="h-5 w-5 text-gray-400 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m9 5 7 7-7 7"
                />
              </svg>
              <a
                routerLink="/products"
                class="ms-1 text-sm font-medium text-gray-700 hover:text-root-metalic-bronze dark:text-gray-400 dark:hover:text-white md:ms-2"
                >Products</a
              >
            </div>
          </li>
          <li aria-current="page" *ngIf="selectedCategory">
            <div class="flex items-center">
              <svg
                class="h-5 w-5 text-gray-400 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m9 5 7 7-7 7"
                />
              </svg>
              <span
                class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400 md:ms-2"
                >{{ selectedCategoryName }}</span
              >
            </div>
          </li>
        </ol>
      </nav>
    </div>
    <div class="flex items-center justify-end px-4 py-3 md:justify-center lg:px-8 lg:justify-end w-full">
      <button type="button" class="open-filter-modal flex items-center justify-center rounded-md border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 " (click)="showFilterModal = true">
        <svg class="-ms-0.5 me-2 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z" />
        </svg>
        Filter
        <svg class="-me-0.5 ms-2 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
        </svg>
      </button>
      <!-- Modal -->
      <div class="modal-backdrop" *ngIf="showFilterModal">
        <div class="modal-content">
          <button class="close-modal" (click)="showFilterModal = false">X</button>
          <app-product-filter (searchClicked)="showFilterModal = false"></app-product-filter>
        </div>
      </div>
    </div>
  </div>
  <section class="product-list">
    <div class="product-list__card" *ngFor="let product of products">
      <a routerLink="/products/{{ product.id }}" class="product-list__link">
        <img [src]="getImageUrl(product.image)" alt="{{product.nameProduct}}"/>
        <h2 class="product-item__name">
          {{ product.nameProduct }}
        </h2>
        <p class="product-item__price">
          {{ product.price | currency }}
        </p>
        <p class="product-item__price-description">
          {{ product.priceDescription }}
        </p>
      </a>
    </div>
  </section>
</section>
