@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-container {
  padding-top: 80px;
  margin-bottom: 20px;

  h1 {
    color: #333;
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    padding-left: 20px;
  }
}
